<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>
            <%= farm.name %>
        </title>
    </head>

    <body>
        <h1>
            <%= farm.name %>
        </h1>
        <ul>
            <li>
                <%= farm.city %>
            </li>
            <li>
                <%= farm.email %>
            </li>
        </ul>
        <% if (farm?.products?.length) { %>
            <h2>Products</h2>
            <% for (let product of farm.products) { %>
                <a href="/products/<%=product.id%>">
                    <%= product?.name %>
                </a>
                <% } %>
                    <% } %>
                        <br /><br />
                        <a href="/farms">All Farms</a>
                        <a href="/farms/<%=farm._id%>/products/new">Add Product</a>

    </body>

</html>