<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Product | <%= product?.name %>
        </title>
    </head>

    <body>
        <h2>
            <%= product?.name %>
        </h2>
        <p>
            <%= product?.price %>
        </p>
        <p>
            <%= product?.category %>
        </p>
        <a href='/products/<%= product?._id %>/edit'>Edit</a>
        <form action='/products/<%= product?._id %>?_method=DELETE' method='POST'><button>Delete</button></form>
        <a href='/products'>Go back</a>
    </body>

</html>